<div id="<%= dom_id booking %>">
  <p>
    <strong>Pet:</strong>
    <%= booking.pet_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= booking.owner_id %>
  </p>

  <p>
    <strong>Booking start date:</strong>
    <%= booking.booking_start_date %>
  </p>

  <p>
    <strong>Booking end date:</strong>
    <%= booking.booking_end_date %>
  </p>

</div>
