<div id="dashboard-wrapper" class="row col-lg-11">
  <div class="col-lg-2 row profile-div">
    <div class="profile-content">
      <%= link_to edit_user_registration_path, class: "update-profile" do %>
        <%= image_tag "empty_profile.png", class: "simple-logo rounded-circle img-thumbnail" %>
        <p class="update-profile-msg">Update Profile</p>
      <% end %>
      <%= current_user.name %>
      <ul>
        <li><%= link_to home_dashboard_path(partial: 'messages') do %><i class="fa-solid fa-clipboard"> Messages</i><% end %></li>
        <li><%= link_to home_dashboard_path(partial: 'bookings') do %><i class="fa-solid fa-book-bookmark"> Bookings</i><% end %></li>
        <li><%= link_to home_dashboard_path(partial: 'pets') do %><i class="fa-solid fa-bone"> Pets</i><% end %></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-10 center-content">
    <div id="dashboard-content">
      <%= render @partial_to_render %>
    </div>
  </div>
</div>
