<div class="content-container">
  <div class="sign-in-div div-padding dark-background-div border-radius col-sm-10 col-lg-7 col-xl-3">
    <h1>Sign In</h1>
    <hr/>
    <%= simple_form_for(:user, url: session_path(:user), wrapper: :floating_labels_form) do |f| %>
      <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <div class="center-content">
        <%= f.button :button, "Sign In", type: :submit, class: "btn btn-lg btn-primary cool-beans-common cool-beans-style-primary sign-in-button" %>
        <br/>
        <%= link_to "Create Account", new_user_registration_path, class: "link-forms link-common" %>
      </div>
    <% end %>
  </div>
</div>
