<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light navbar-custom">
  <%= link_to root_path do %>
    <%= image_tag "hvk_logo_banner.png", class: "navbar-logo navbar-brand" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarhamburger" aria-controls="navbarhamburger" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarhamburger">
    <div class="container-fluid col-lg-10">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Dashboard', home_dashboard_path, class: "nav-link link-navbar" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to 'About', home_about_path, class: "nav-link link-navbar" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Boarding', home_boarding_path, class: "nav-link link-navbar" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact', home_contact_path, class: "nav-link link-navbar" %>
        </li>
      </ul>
    </div>
    <div class="d-flex navbar-button-div col-lg-2">
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, class: "btn btn-danger btn-sm navbar-button", method: :delete %>
      <% else %>
        <%= link_to "Sign In", user_session_path, class: "btn btn-success btn-sm navbar-button" %>
      <% end %>
    </div>
  </div>
</nav>
